* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(1, 73, 136);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}

.card-wrap {
    flex-direction: column;
    gap: 0px;
}

.save-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.cd-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    font-size: 17px;
    /* align-items: center; */
}

.apy {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cds-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.save-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
}


.card {
    background-color: rgba(255, 255, 255, 0.512);
    border: 80px;
    border-color: darkblue;
    box-shadow: 0 4px 2px -2px black;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card.checking {
    width: 500px;
    height: 157px;
    margin-top: 5px;
    align-items: center;
}

.card.savings {
    width: 500px;
    height: 157px;
    margin-top: 25px;
    left: 40px;
}

.card.CD {
    width: 600px;
    height: 340px;
    margin-top: 5px;
}

.card.MM {
    width: 359px;
    height: 340px;
    margin-top: 5px;
}

.card.Prediction {
    width: 1500px;
    height: 300px;
    margin-top: 5px;
}

input {
    display: flex;
    margin: 0px;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    text-align: center;
}

.CD-input {
    display: flex;
    align-items: center;
}